/* ------------------- */
/* GLOBAL RULES */
/* ------------------- */
:root {
    --vinted-color: #2baeb7;
    --opposite-of-vinted-color: white;
    --header-height: 50px;
}

.container {
    width: 1240px;
    margin: 0 auto;
    /* background-color: red; */
}

.container-login-signup {
    width: 275px;
    margin: 0 auto;
    /* background-color: red; */
}

.visibility-hidden {
    visibility: hidden;
}

/* ------------------- */
/* HEADER */
/* ------------------- */
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--header-height);
    background-color: var(--opposite-of-vinted-color);
}

.header-logo {
    height: 30px;
    cursor: pointer;
}

.header-button-group {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.header-sign-up-login {
    color: var(--vinted-color);
    background-color: var(--opposite-of-vinted-color);
    width: 117px;
    height: 27px;
    border-color: var(--vinted-color);
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
.header-sell-your-products {
    color: var(--opposite-of-vinted-color);
    background-color: var(--vinted-color);
    width: 117px;
    height: 27px;
    cursor: pointer;

    border: 1px solid var(--vinted-color) a;
    border-radius: 5px;

    font-size: 12px;
    outline: none;
}

/*
.header-horizontal-line {
    width: calc(100% - 2px);
    border: 1px solid #e5e5e5;
}
*/

/* ------------------- */
/* HOME */
/* ------------------- */

.home-top-big-image {
    height: 455px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
    position: relative;
}

/* Msgjs21 Faire suivre ce div dans image et le logo Vinted avec le container */
.home-div-dans-image {
    position: absolute;
    left: 130px;
    top: 130px;
    background-color: white;
    width: 400px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-text-to-sell {
    font-size: 35px;
    padding-left: 25px;
    padding-right: 25px;
}

.button-text-to-sell {
    font-size: 16px;
    background-color: var(--vinted-color);
    color: var(--opposite-of-vinted-color);
    margin-left: 25px;
    margin-right: 25px;
    width: 187px;
    height: 45px;
    outline: none;
    border-color: var(--vinted-color);
    border-radius: 5px;
}
.home-before-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-card {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 450px;
    margin-bottom: 30px;
}

.home-offer-owner {
    display: flex;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 10px;
}
.home-offer-owner-photo {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50px;
}

.home-offer-owner-unsername {
    text-decoration: none;
    /* msgjs21 ne fonctionne pas */
}
.home-card-photo {
    width: 100%;
    height: 360px;
    object-fit: cover;
    margin-bottom: 15px;
}

.home-price {
    font-size: 14px;
    margin-bottom: 5px;
}
.home-taille-marque {
    font-size: 12px;
    margin-bottom: 5px;
}

/* ------------------- */
/* OFFER */
/* ------------------- */
.offer-main {
    background-color: #ebedee;
    height: 100vh;
}
.offer-main-when-downloading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-height));
}

.offer-main-when-downloaded {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - var(--header-height));
}

.offer-big-picture {
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.offer-big-text-zone {
    width: 400px;
    height: 600px;
    background-color: white;
    padding: 40px;
    box-sizing: border-box; /* Pour que le padding n'agrandisse pas le rectangle; msgjs21 à noter */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-top-description {
    width: 100%;
    /* background-color: #2baeb7; */
}

.offer-price {
    font-size: 24px;
    margin-bottom: 25px;
}

.offer-product-details {
    font-size: 14px;
}

.offer-product-detail {
    margin-bottom: 6px;
    display: flex;
    justify-content: flex-start;
}

.offer-product-detail-key {
    color: #999;
    width: 50%;
}

.offer-product-detail-value {
    color: #666;
    width: 50%;
}
.offer-delimiter {
    width: 100%;
    border: 1px solid #e5e5e5;
}

.offer-bottom-description {
    width: 100%;
    /* background-color: #2baeb7; */
}

.offer-title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.offer-description {
    font-size: 16px;
    color: #666;
    font-weight: normal;
    margin-bottom: 17px;
}

/* Zone de l'image et du pseudo du propriétaire de l'article. */
.offer-owner-image-and-surname {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offer-avatar-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.offer-buy {
    color: var(--opposite-of-vinted-color);
    background-color: var(--vinted-color);
    border: 1px solid var(--vinted-color);
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    height: 36px;
}

/* ------------------- */
/* SIGN UP AND LOGIN */
/* ------------------- */
.signup-login-page-title {
    font-size: 24px;
    color: #111;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 50px;
}

.signup-login-input {
    border: none;
    border-bottom: 1px solid rgba(17, 17, 17, 0.08);
    height: 35px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.signup-login-error-message {
    color: red;
    font-size: 9px;
    text-align: center;
    margin-bottom: 20px;
}

.signup-checkbox {
    transform: scale(2);
    margin-right: 20px;
    margin-bottom: 20px;
}
.signup-checkbox-label {
    color: #666;
    font-size: 16px;
}

.signup-i-confirm-sentence {
    margin-top: 10px;
    text-align: left;
    color: #999;
    font-size: 12px;
    margin-bottom: 20px;
}

.signup-login-button {
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    width: 100%;
    color: var(--opposite-of-vinted-color);
    background-color: var(--vinted-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}

.signup-login-switch {
    color: var(--vinted-color);
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

/* au survol */
a:hover {
    text-decoration: underline;
}
/* ------------------- */
/* MEDIA QUERIES ? */
/* ------------------- */
